body {
  background-color: #3d3d3d;
}

.bg-primary {
  font-size: 16pt;
  color: #ffffff;
  text-align: left;
  padding: 1.5vw 0 1.5vw 8vw;
}

.body-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.btn-primary {
  margin: 2vw 0 0 8vw;
}

.btn-success{
  margin: 2vw 0 0 3vw;
}

.listOne{
  margin: 1vw 0 0 2vw;
  font-size: 1.5vw;
  /*color: #ffffff;*/
}

.titleFlex{
  display: flex;
}

.containerItem{
  /*width: 65%;*/
}

.container-fluid{
  width: 65%;
}

.itemsBoxes{
  width: 80%;
  margin: 0.5vw 0 0 2.5vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
